


main{

    font-family: 'Montserrat', sans-serif;
}



h1{
    color:black;
    font-family: 'Merienda One', cursive;
    padding-top: 2rem;
}


img{
    width: 100%;
}

.header{
    background-color:$darkgreen;
    &__logo{
        font-family: 'Merienda One', cursive;
    }
}

.btn_principal{
    width: 10rem;
    @include button-principal;
    
}




.camera_content{
    margin: 1rem;
    border: solid 1px $pink;
}





.camera_description{
    text-decoration: none;
    
}


.camera_actionbox{
    @include button-principal;

}

//product

#cardContainer{
    max-width: 30rem;
    border: solid 1px $pink;
}

